In [1]:
import orjson as json

In [2]:
from features import game_features

In [3]:
import tqdm

In [4]:
test_features = []
for line in tqdm.tqdm(open('../data/test_matches.jsonl')):
    game = json.loads(line)
    test_features.append(game_features(game))

10000it [09:19, 17.88it/s]

In [5]:
import pandas as pd

In [6]:
test_df = pd.DataFrame(test_features)

In [7]:
test_df.shape

(10000, 1851)

In [12]:
test_df

,chat_len,r_chat_msg,d_chat_msg,r1_chat_msg,r2_chat_msg,r3_chat_msg,r4_chat_msg,r5_chat_msg,d1_chat_msg,d2_chat_msg,...,d5_lh,d5_health,d5_max_health,d5_level,d5_kills,d5_deaths,d5_assists,d5_denies,d5_nearby_creep_death_count,d5_health_frac
0,0,0,0,0,0,0,0,0,0,0,...,0,610,620,1,0,0,0,0,0,0.983871
1,6,3,3,0,1,0,1,1,0,2,...,5,411,920,10,4,5,6,2,93,0.446739
2,1,0,1,0,0,0,0,0,1,0,...,73,1380,1380,11,3,5,2,12,133,1.000000
3,0,0,0,0,0,0,0,0,0,0,...,27,1200,1200,8,3,2,1,1,82,1.000000
4,11,3,8,0,1,1,1,0,1,0,...,128,0,2820,16,9,2,4,10,245,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,1,0,0,1,0,0,0,0,0,...,135,1258,1670,17,5,4,7,15,276,0.753293
9996,9,7,2,0,0,1,5,1,1,0,...,207,2880,2880,18,10,7,5,13,327,1.000000
9997,0,0,0,0,0,0,0,0,0,0,...,4,840,840,4,0,1,2,1,41,1.000000
9998,3,0,3,0,0,0,0,0,0,2,...,103,1279,1893,14,4,3,3,8,170,0.675647
9999,12,8,4,2,2,0,4,0,0,0,...,23,1540,1540,17,0,3,19,7,244,1.000000

In [13]:
test_df.to_csv('../data/test_features_total.csv', index=False)