In [1]:
import pandas as pd
from permutation import permute_players, permute_teams

In [2]:
X = pd.read_csv('data/pseudo_train_features.csv', index_col=0)
y = pd.read_csv('data/pseudo_train_targets.csv', index_col=0)

In [3]:
X.shape, y.shape

((41492, 245), (41492, 1))

In [4]:
X_enh, y_enh = permute_players(X, y)

In [5]:
X_enh.shape, y_enh.shape

((207460, 245), (207460, 1))

In [6]:
X_enh2, y_enh2 = permute_teams(X_enh, y_enh)

In [7]:
X_enh2.shape, y_enh2.shape

((414920, 245), (414920, 1))

In [8]:
y_enh2

                                      radiant_win
match_id_hash
a400b8f29dece5f4d266f49f1ae2e98a            False
b9c57c450ce74a2af79c9ce96fac144d             True
6db558535151ea18ca70a6892197db41             True
46a0ddce8f7ed2a8d9bd5edcbb925682             True
b1b35ff97723d9b7ade1c9c3cf48f770            False
...                                           ...
inv_977a1db0b5295f6f463abc20d16b36ec         True
inv_29355f338e4ee84c68dcbdcb3858374c         True
inv_6bd9779a71650348aa3cd75f45278bfb        False
inv_9376a283b50779433de829c79529fe2c         True
inv_1bbaf6d71e197ebf96c6afa3c921000a         True

[414920 rows x 1 columns]